<!-- Footer Area -->
{% load static %}
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-left">
                    <a href="{% url 'index:home' %}" class="logo brand-footer">
                        <img src="{% static 'assets/images/logo3.png' %}" alt="logo" />
                    </a>
                    <p>
                        تفترض نظرية اختيار المدرسة أن الآباء هم فاعلون عقلانيون يمكنهم جمع المعلومات واستهلاكها للعثور على مدرسة تتوافق مع احتياجات أطفالهم خذ جولة سريعة للتعرف علينا
                    </p>
                    <ul class="footer-social">
                        <li>
                            <a href="#"><i class="flaticon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-envelope"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-content fml-25">
                    <h2>المدرسة</h2>
                    <ul>
                        <li>
                            <a href="{% url 'contact:contact-us' %}"> تواصل معنا<i class="flaticon-next"></i></a>
                        </li>
                        <li>
                            <a href=""> الوظائف <i class="flaticon-next"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-content fml-15">
                    <h2>انتقل الى</h2>
                    <ul>
                        <li>
                            <a href="{% url 'index:home' %}"> الرئيسية <i class="flaticon-next"></i></a>
                        </li>
                        <li>
                            <a href="{% url 'about_us:about-us' %}"> لماذا نحن <i class="flaticon-next"></i></a>
                        </li>
                        <li>
                            <a href="{% url 'gallery:galleries' %}"> قائمة الصور <i class="flaticon-next"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-content fml-15 fml-20">
                    <h2>هل تبحث عنا؟</h2>
                    <ul>
                        <li>
                            <a> 201116033005+ <i class="flaticon-next"></i></a>
                        </li>
                        <li>
                            <a><i class="flaticon-next"></i> support@edvi.com</a>
                        </li>
                        <li>
                            <a>
                                 14 شارع النور/امتداد شارع يوسف, مدينة الشمس القديمة. حلوان
                                 <i class="flaticon-next"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Area -->

<!-- Copy Area -->
<div class="copy-area">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="copy">
                    <p>
{#                        Copyright @2022. All Rights Reserved by El-Shams school#}
                        جميع الحقوق محفوظة لدى مدرسة الشمس لعام 2022
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copy Area -->