{% load static %}
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Show a second modal and hide this one with the button below.
        </div>
      </div>
    </div>
  </div>
  {% comment %} <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a> {% endcomment %}
  <a href="" data-bs-toggle="modal" class="video-pop" role="button">
    <span class="video"> 
        <i class="fa fa-play"></i> 
    </span> فيديو تقديمى
  </a> 
</div>